<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hoge.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @hoge.age %>
</p>

<%= link_to 'Edit', edit_hoge_path(@hoge) %> |
<%= link_to 'Back', hoges_path %>
