<div class="new-main">
  <div class="resister-area">
  <div class="inner-area">
    <h1>アカウント編集</h1>
       <% @users.errors.full_messages.each do |message| %>
         <div class="errosr">
           <%= message %>
         </div>
       <% end %>
          <%= form_for @users ,url: user_path,class:"edit-image"  do |f| %>
           <p class="standard-font">ユーザー名</p>
            <%= f.text_field :name %><br>
            <p class="standard-font">メールアドレス</p>
            <%= f.email_field :email %><br>
            <div class="field">
            <%#= image_tag @users.img.url if @users.img? %><br>
            
            <%#= f.hidden_field :img_cache %>
            <div class ="before-user-image">
           <%= image_tag @users.img.url, id: :img_prev if @users.img? %><br>
            </div>
           <%= f.check_box :remove_img %>画像を削除する<br><br>
          <%= f.file_field :img, id: :users_img %><br><br>
<script type="text/javascript">
$(function() {
 function readURL(input) {
   if (input.files && input.files[0]) {
     var reader = new FileReader();
     reader.onload = function (e) {
       $('#img_prev').attr('src', e.target.result);
     }
     reader.readAsDataURL(input.files[0]);
   }
 }
 $("#users_img").change(function(){
   readURL(this);
 });
});
</script>
              </div>
                    <%= f.label :tag_list, "分野" %><br>
    <%= text_field_tag 'user[tag_list]', @users.tag_list.join(',') %>
            <%= f.submit "保存", class: "button1" %>
          <% end %>

       
    
    
        
    
    
    </div>
  </div>
</div>