<div class="new-main">
  <div class="resister-area">
  <div class="inner-area">
    <p font-size="20px">アカウント編集</p>
       <% @users.errors.full_messages.each do |message| %>
         <div class="errosr">
           <%= message %>
         </div>
       <% end %>
        <%= @current_user.id%> 
        <%=params[:id]%>
         
          <%= form_for @users ,url: "/users/#{@users.id}/update" do |f| %>
     
            <%= f.text_field :name %>
            <%= f.email_field :email %>
            <%= f.file_field :image %>
            <%= f.submit "保存", class: "button1" %>
          <% end %>

       
    
    
        
    
    
    </div>
  </div>
</div>