
 <div class="prof-show-container">
  <div class="prof-show-detail">
   <div class="show-image">
      <img src="<%= "/user_images/#{@users.image_name}" %>">
      </div>
<div class="show-users-identfy">
  
  

  <din class="user-name"><%= "#{@users.name}" %></div>
    <%if @current_user==@users%>
    <%elsif @current_user.following? @users%>  <!--もしフォろーしてたら-->
     <div class="back-message"> <%=@users.name%>をフォローしています</div>
    <%end%>
      <%= link_to("編集", "/users/#{@users.id}/edit",class:"edit") %>
  
<div class="follow-info">
  <ul class="show-menus">
   <li>フォロー</li>
      <li><%=@users.follow_count%>人</li>
      
   <li>フォロワー </li>
   <li><%=@users.followers_count%>人</li>
    <%=render"users/follow"%>     <!--followのパーシャル-->
  </ul>
   </div>
   </div>
   </div>
</div>
 <div class="main-container">   <!--main-->
  <div class="mc-list">         <!--↓-->
     <ul>
      <li><%= link_to("つぶやき",:action=>"show", :select_id => "1") %></li>
      <li><%= link_to("フォロー",:action=>"show", :select_id => "2") %></li>
      <li><%= link_to("フォロワー",:action=>"show", :select_id => "3") %></li>
     </ul>
  </div>
  

   
<% if @branch ==( "3" or nil) %> 
    <%=render"users/followd"%>
      
  <%elsif @branch == "2"%> 
   <%=render"users/follows"%>
  <%else%> 
 <%=render"users/tweet"%>  
   <%end%>   
   
   
   
   </div>
