<div class="main">
  <img src="<%= "/user_images/#{@users.image_name}" %>">
<div class="show-users-identfy">
  
  <%if @current_user==@users%>
  <%elsif @current_user.following? @users%>  <!--もしおろーしてたら-->
  <%=@users.name%>をフォローしています
  <%end%>
  
  
 
  
  <%= "user  : #{@users.name}" %><br>
  <%= "email :"+@users.email %><br>
  <%= link_to("編集", "/users/#{@users.id}/edit",class:"edit") %><br>
  <p>ツイート一覧</p>
 <% num=0 %>
  <% @users.posts.each do |post|%>
  tweet
  <%= "#{num}:#{post.content}" %><br>
  <% num=num+1 %>
  <% end %>
<p>フォローしてる人たち </p><%=@users.follow_count%>人
  <% @users.all_following.each do |follow|%>
  <%= follow.name%>
  <%end%>
  
  <p>フォローされてる人たち </p><%=@users.followers_count%>人
  <% @users.followers .each do |follow|%>
  <%= follow.name%>
  <%end%>
  
  <%=render"users/follow"%>
</div>
</div>