<div class="main">
  <div class="serch">
    <div class="serch-form">
      <div class="serch-main">
    <p font-size="10px">検索</p>
      <%= form_tag("/posts/search",:method => 'get') do %>
        <%= text_field_tag :search,"",:placeholder => "投稿内容を検索してください" %><br><br>
        <%= submit_tag 'Search', :name => nil ,class: "button1" %><br><br>
      <% end %>  
      </div>
    </div>
  </div>
  <% @posts.each do |post|%>
    <div class="post-index-back">
      <div class="post-index-cover">
        <div class="post-main">
          <div class="post-main-box">
            
            <% if post.user.present? %>
            
            <div class="post-index-img-cover">
              <div class="post-index-img">
                <%= image_tag post.user.img.url, :class => "user-image" %>
              </div>
              </div>
                <div class="post-index-inner">
                  <div class="post-main-detail">
                    <%=link_to(post.user.name, "/users/#{post.user.id}", class: "post-index-name")%>
                    <%= post.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[post.created_at.wday]})")  %>
                  </div>
                    <p class="post-index-content"><%=simple_format(post.content)%></p>
                   
                    <% if post.postimage.present? %>
         <!--画像--><%= image_tag post.postimage.url,:class => "post-image"%>
                   <%end%>
                  
                   <div class="post-index-action">
                     <% if Like.find_by(user_id: @current_user.id,post_id: post.id)%>
                       <%= link_to("/likes/#{post.id}/destroy",{method: "post"},class:"post-detail", remote: true) do %>
                       <span class="fa fa-heart like-btn-unlike"></span>
                     <%end%>
                     <%else%>
                       <%= link_to("/likes/#{post.id}/create", {method: "post"},class:"post-detail",:select_id => "a") do %>
                         <span class="fa fa-heart like-btn"></span>
                      <%end%>
                    <%end%>
                       <%= post.like_count %>   
                     <%if post.user_id==@current_user.id%>
                       <%=link_to("編集","/posts/#{post.id}/edit",class:"post-detail",class:"button1")%>
                       <%=link_to("削除","/posts/#{post.id}/destroy",{method: "post",class:"post-detail",class:"button2"})%>
                     <%end%>
                     <%=link_to("返信",new_return_path(p_id: post.id),class:"post-detail",class:"button3")%>
                    </div>
                    
                     
                    
              <% end %>
         </div>
       </div>
     </div>
    </div>
  </div>
  
  
  <!---------------     返信     --------------------->
 
 <%unless post.returns == nil%>
 <div class="line-cover">
   <div class="line"></div>
   </div>
 <div class="return-index-back">
      <div class="post-index-cover">
        <div class="post-main">
          <div class="post-main-box">
            <%end%>
           <%@returns.each do |r|%> 
           <%if r.post_id == post.id%>
            <%if r.user.present?%>
             <div class="post-index-return-img-cover">
               <div class="post-index-return-cover-aug">
              <div class="post-index-return-img">
                 
                <%= image_tag r.user.img.url, :class => "return-user-image" %>
               
              </div>
             
            <div class="post-index-return-name">
        <%=link_to(r.user.name, "/users/#{r.user.id}", class: "post-index-name")%><br>
           <%end%> </div><br>
      <div class="post-index-return-content">  <%=r.returncontent%></div>
      </div>
      <%=link_to("編集",edit_return_path(r.id),class:"return-edit",class:"button-return-1")%>
        <%=link_to("削除","/returns/#{r.id}/destroy",{method: "post",class:"return-edit",class:"button-return-2"})%>
    </div>
      <%end%>
      
  <%end%>
   
       </div>
     </div>
    </div>
  </div>
  <div class="yohaku"></div>
   <!--------------------------------------------->
 
   <%end%>
</div> 

