<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  <body>
    <div class="header-top">
      <div class="header-inner">
      <header>
         <div class="header-logo">
           <%= link_to("TweetApp", "/") %>
         </div>
           <ul class="header-menus" style="list-style:none;">
             <%current_user=User.find_by(id: session[:user_id])%>
               <%if current_user%>       <!--ログイン状態で表示-->
           <li>
             <%= link_to(current_user.name,"/users/#{current_user.id}",class:"button")%>
           
               <li>
                 <%= link_to("new","/posts/new",class:"button")%>
               </li>
               <li>
                   <%=link_to("logout","/logout",{method: :post})%>
               </li>
           
           <li>
              <%= link_to("index","#",class:"button")%>
            
               <li>
                 <%= link_to("post","/posts/index",class:"button")%>
               </li>
               <li>
                 <%= link_to("users","/users/index",class:"button")%>
             
           </li> 
             
             <% else %>                         <!--ログアウト状態で表示-->
           <li>
             <%= link_to("login","/login",class:"button")%>
           </li>
           <li>
             <%= link_to("about","/about",class:"button")%>
           </li>
           <li>
             <%= link_to("new","/signup",class:"button")%>
           </li>
             <%end%>
           </ul>
    </div>
    </div>
      </header>
        <div class="flash"> 
          <%if flash[:notice]%>
            <%=flash[:notice]%><br>
          <%end%>
        </div>
  
          <%= yield %>

         <footer class="footer">
           <nav class="nav">
              <ul>
                <li>TweetAppについて</li>
                <li>お問い合わせ</li>
                <li>利用規約</a></li>
              </ul>
          </nav>
            <div class="link">© 2019 tweetapp
           </div>
        </footer>
  </body>
</html>